/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

/* Forces the system to use the high-contrast version of the cursor */
html, body {
  cursor: default !important;
  caret-color: white; 
}

/* Ensures the hand icon is visible on links */
a, button, .hamburger {
  cursor: pointer !important;
}